body {
    background: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
    margin: 0;
    padding: 5px 0 0 0;
    min-width: 290px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

ul, li, li p {
    margin: 0;
    padding: 0;
    list-style: none;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

p, li, blockquote {
    line-height: 1.4em;
}

a img {
    border: none;
}


section {
    display: block;
}

article section, #newsletter {
    background: url(../images/border.gif) repeat-x left bottom;
    margin: 0 0 40px 0;
    padding: 0 0 45px 0;
    overflow: hidden;
}


.button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #fea817 0%, #c54200 51%, #ecde1a 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
  }

.button:hover {
    background-position: right center;
}

.button_area {
    margin: 0 auto;
    width: 370px;
    position: relative;
}

.margin-top-small {
    margin-top: 5px;
}

.padding-left-small {
    padding-left: 10px;
}

h1, h2, h3, h5 {
    font-weight: normal;
}

h1 span, h2 span, h3 span {
    font-weight: 700;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 315%;
    color: #313131;
    margin: 0;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 220%;
    color: #313131;
    margin: 0 0 20px 0;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 140%;
    color: #999;
    margin: -15px 0 25px 0;
}

h4 {
    font-family: 'Merriweather', serif;
    font-size: 120%;
    font-weight: 700;
    color: #313131;
    margin: 0 0 5px 0;
}


#logo img {
    margin: 0 5px 0 0;
    float: left;
}


#logo h2 {
    font-family: 'Merriweather', serif;
    font-size: 110%;
    color: #999;
    font-weight: 400;
    float: left;
    margin: 13px 0 0 0;
}

#banner h1 {
    font-size: 290%;
    color: #fff;
    font-weight: 700;
    margin: 10px 0 15px 0;
}

#banner h2 {
    font-family: 'Merriweather', serif;
    font-size: 155%;
    color: #e4e4e4;
}

#register {
    text-align: center;
}


/* Grid System based on Foundation by ZURB */

.row {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -10px;
}

.row.collapse .column, .row.collapse .columns {
    padding: 0;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -10px;
}

.row .row.collapse {
    margin: 0;
}

.column, .columns {
    float: left;
    min-height: 1px;
    padding: 0 10px;
    position: relative;
}

.column.centered, .columns.centered {
    float: none;
    margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}

[class*="column"] + [class*="column"].end {
    float: left;
}

.one, .row .one {
    width: 8.33333%;
}

.two, .row .two {
    width: 16.66667%;
}

.three, .row .three {
    width: 25%;
}

.four, .row .four {
    width: 33.33333%;
}

.five, .row .five {
    width: 41.66667%;
}

.six, .row .six {
    width: 50%;
}

.seven, .row .seven {
    width: 58.33333%;
}

.eight, .row .eight {
    width: 66.66667%;
}

.nine, .row .nine {
    width: 75%;
}

.ten, .row .ten {
    width: 83.33333%;
}

.eleven, .row .eleven {
    width: 91.66667%;
}

.twelve, .row .twelve {
    width: 100%;
}

.row .offset-by-one {
    margin-left: 8.33333%;
}

.row .offset-by-two {
    margin-left: 16.66667%;
}

.row .offset-by-three {
    margin-left: 25%;
}

.row .offset-by-four {
    margin-left: 33.33333%;
}

.row .offset-by-five {
    margin-left: 41.66667%;
}

.row .offset-by-six {
    margin-left: 50%;
}

.row .offset-by-seven {
    margin-left: 58.33333%;
}

.row .offset-by-eight {
    margin-left: 66.66667%;
}

.row .offset-by-nine {
    margin-left: 75%;
}

.row .offset-by-ten {
    margin-left: 83.33333%;
}

.block-grid.four-up {
    margin: 0 -10px;
}

.block-grid.four-up > li {
    width: 25%;
    padding: 0 10px 10px;
}

.block-grid.four-up > li:nth-child(4n+1) {
    clear: both;
}

img {
    height: auto;
}

img, object, embed {
    max-width: 100%;
}


.row {
    *zoom: 1;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

/* End of Grid System */

#logo {
    width: 460px;
    float: left;
    margin: 20px 0 0 0;
}

#logo img {
    margin: 0 15px 0 0;
    float: left;
}

#phone {
    float: right;
    font-size: 108%;
    margin: 33px 0 0 0;
    color: #999;
    text-align: right;
}


#banner {
    background: #6e6e6e;
    background: linear-gradient(to bottom, #6e6e6e 0%, #313131 100%);
    color: #fff;
    /* clear: both; */
    margin: 20px 0 80px 0;
    padding: 35px 0 30px 0;
}

#banner_image img {
    display: block;
    margin: 0 auto;
}

#banner_image img#image_bottom {
    margin-top: -20px;
}

#banner ul {
    margin: 20px 0 20px 0;
}

#banner li {
    background: url(../images/sprite.png) no-repeat -1px -79px;
    font-weight: bold;
    padding: 7px 0 7px 35px;
}


#description ul {
    margin: 20px 0 20px 30px;
}

#description ul li {
    background: url(../images/icons/icon_check.png) no-repeat 0 7px;
    padding: 6px 0 6px 28px;
}


.features li {
    margin: 15px 0 15px 0;
}



blockquote {
    background: url(../images/bg_quote.png) no-repeat left top;
    margin: 0;
    padding: 0;
}

blockquote footer {
    display: block;
    margin: 15px 0 0 0;
    line-height: normal;
    font-weight: normal;
    color: #999;
}

blockquote footer img {
    float: left;
    border-radius: 100em;
    margin: 0 10px 0 0;
}

blockquote footer div {
    padding: 13px 0 0 0;
    font-weight: bold;
    color: #313131;
}

.testimonial_big {
    margin: 0;
    padding: 0;
    text-align: center;
}

.testimonial_big q {
    font-family: 'Merriweather', serif;
    font-size: 140%;
    line-height: normal;
}

.testimonial_big footer div {
    display: inline;
}


#payment {
    width: 260px;
    margin: 20px auto 0 auto;
}

#payment img {
    margin: 0 5px 0 0;
}

#page_footer {
    margin-bottom: 15px; 
    text-align: center;
}


 #page_footer p {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}